@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: "Fira Sans", serif; */

#full-color{
    background-color: #F1F1F3;
}

/* shared style  */
.btn-primary{
    background-color: #006A50;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    padding: 17px 34px;
    border-radius: 8px;
    border: none;
}
/* banner style */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 20px 160px 80px 160px;
    background-color: #C6E4D6;
    border-radius: 24px;
    
}
.banner-title{
    color: #0E0E0E;
    font-size: 24px;
    font-weight: 500;
}
.banner-title-description{
    color: #0E0E0E;
    font-weight: bold;
    font-size: 56px;
    
}
.banner-profile-pictur{
    width: 474.03px;
}

  /* header styls */
  .banner-content{
    padding: 117px 0px  117px 59.99px;
  } 
    

img{
    padding: 80px 59.99px 80px 64px;
}

/* main styles */
.card-information-title{
    color: #0E0E0E;
    font-size: 40px;
    font-weight: bold;
}
.card-information-title-description{
    font-size: 16px;
    color: #0E0E0E;
}
/* card information styles */
.card-info-container{
    display: flex;
    gap: 24px;
}

.card-info{
    margin-right: 160px;
    margin-left: 160px;
}
.card-01{
    border-radius: 16px;
    background-color: rgba(84, 144, 245, 0.2);
    
}
.card-02{
    border-radius: 16px;
    background-color:#C6E4D6;
}
.card-03{
    border-radius: 16px;
    background-color: #F7EBCF;
}

.btn-01{
    background-color: #5490F5 ;
}
.btn-02{
    background-color: #006A50;
}
.btn-03{
    background-color: #FFC239;
}
button{
    border-radius: 8px;
    font-size: 16px;
    color: #FFFFFF;
    padding: 11px 20px 11px 20px;
    border: none;
}

/* 2ndcard styles */
.card2nd-container{
    display: block;
    padding: 48px;

}

.card2nd-title{
    color: #0E0E0E;
    font-weight: bold;
    font-size: 40px;
}
.card2nd-description{
    color: #0E0E0E;
    font-weight: 400;
    font-size: 16px;
}
.card2nd{
    margin-right: 160px;
    margin-left: 160px;
    
}
.pictur{
    border-radius: 24px;
}
.news-about{
    /* display: flex; */
    border-radius: 24px;
    background-color: #FFFFFF;
}
.full-content{
    padding: 48px;
    display: flex;
}
.btn-read-more{
    border-radius: 8px;
    background-color: #006A50;
    font-size: 18px;
    font-weight: 600;
    padding: 13px 26px 13px 26px;
}